<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>

    <!-- TODO: include google font -->
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Work+Sans' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
  </body>
</html>
